.loader-container {
    background-color: black;
    color: white;
    overflow: hidden;
    user-select: none;
    z-index: 15;
    position: fixed;
    top: 0;

    .loader-logo{
        height: 2em;
        opacity: 0.5;
    }
}