// transform 0.4s cubic-bezier(0.1, 0, 0.3, 1)

button {
    position: relative;
    border: 0;
    font-size: 15px;
    border-radius: 1.6em;
    margin: 0;
    padding: 1em 3.6em;
    line-height: 1;
    background-color: black;
    color: white;
    overflow: hidden;
    cursor: pointer;

    &::after,
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
    }

    &::before {
        content: '';
        width: 120%;
        height: 0;
        padding-bottom: 120%;
        top: -110%;
        left: -10%;
        border-radius: 50%;
        transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
    }

    &::after {
        content: '';
        width: 120%;
        height: 0;
        padding-bottom: 120%;
        top: -110%;
        left: -10%;
        border-radius: 50%;

        transform: translate3d(0, -90%, 0);
        transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
    }

    span {
        display: block;
        position: relative;
        mix-blend-mode: difference;
        z-index: 10;
    }

    &:hover {
        &::before {
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
        }

        &::after {
            transform: translate3d(0, -20%, 0);
            transition-duration: 0.05s;
            transition-delay: 0.4s;
            transition-timing-function: linear;
        }
    }

    &.white {
        background-color: white;

        &::before,
        &::after {
            background-color: black;
        }
    }

    &.simple {
        font-size: inherit;
        padding: 0.6em 1em;
        margin: -0.6em -1em;
        background-color: transparent;
        text-decoration: underline;
        transform: translateX(0px);
        transition: all 0.4s cubic-bezier(0.3, 0, 0.1, 1);
        color: #d8d8d8;

        &::before,
        &::after {
            content: none;
        }

        &:hover {
            color: #fff;
            // background-color: white;
            // color: black;
            // text-decoration: none;

            // padding: 0.6em 2em;
            // transform: translateX(1em);
        }
    }
}

p.underlined {
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
}

.opacity-hover {

    transition: opacity 0.3s ease-in;
    cursor: pointer;

    &:hover {
        opacity: 0.4;
        transition: opacity 0.3s ease-out;
    }

    &.grey-to-white{
        opacity: 0.4;

        &:hover {
            opacity: 1;
        }
    }
}