.service-offerings {
    margin: 2em 0 6em 0;

    .services-card {
        position: relative;

        background-color: white;
        border-radius: 2em;
        color: #191919;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        padding: 1em;

        margin-top: 2em;

        h3 {
            margin-bottom: 0.25em;
        }

        .small {
            font-size: 0.8em;
            line-height: 2;
        }

        .icon {
            position: relative;
            width: calc(40% - 2em);
            max-height: 15em;
            text-align: center;
            padding: 1em;

            svg {
                // position: absolute;
                width: 100%;
                height: 100%;

                path {
                    fill: none;
                    stroke-width: 4px;
                }

                .semicircle path {
                    stroke: #191919;
                    stroke-linecap: square;
                }

                .lines path {
                    stroke: #646464;
                    stroke-linecap: round;
                }
            }
        }

        .description {
            width: 65%;
            position: relative;
            overflow-y: hidden;

            .services-intro,
            .outcomes {
                height: 100%;
                display: flex;
                align-items: center;
            }

            .services-intro {
                position: relative;
                top: 0;
                transition: transform 0.4s ease-in-out;

                p{
                    max-width: 60%;
                }
            }

            .outcomes {
                position: absolute;
                top: 100%;
                transition: transform 0.4s ease-in-out;

                .up-arrow {
                    transform: rotate(90deg);
                    height: 2em;
                    margin: 0.5em 0 1em 0;
                }

                ul {
                    color: #646464;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    list-style: disc;

                    li {
                        width: 45%;
                        margin: 0 0.5em 0.5em 0.5em;
                        padding-left: 0.5em;
                        font-weight: 300;
                        list-style: "-";
                    }
                }
            }

            // slide up to show details
            &.show-outcomes {
                .services-intro {
                    transform: translateY(-100%)
                }

                .outcomes {
                    transform: translateY(-100%)
                }
            }
        }
    }

    @media only screen and (max-width: 1280px) {
        .services-card {
            .description {
                .services-intro {
                    p {
                        max-width: 80%;
                    }
                }
                .outcomes {
                    .up-arrow {
                        height: 1.5em;
                    }
                }
            }
        }
    }
    

    @media only screen and (max-width: 720px) {
        .services-card {
            .description {
                .services-intro {
                    p {
                        max-width: unset;
                    }
                }

                .outcomes {
                    ul {
                        li {
                            width: 100%;
                            margin-bottom: 0.25em;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .services-card {
            flex-direction: column;

            .icon,
            .description {
                width: 100%;
            }

            .icon {
                height: 60vw;
            }

            .description {
                min-height: 12em;

                .services-intro {
                    padding: 1em 0 2em 0;
                }

                .outcome-nav {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;

                    h5 {
                        width: 70%;
                    }

                    .up-arrow {
                        width: 1.5em;
                        height: 1.5em;
                        margin: 0 1em 1em 0;
                    }
                }
            }
        }
    }
}