@import url("https://use.typekit.net/dki6dkr.css");
@import "./_vars";
@import "./_common";
@import "./_reset";
@import "./_fonts";
@import "./_buttons";
@import "./_typography";
@import "./_inlineSVG.scss";

@import "./_jumbotron";
@import "./_sticky-logo";
@import "./_header";
@import "./_intro";
@import "./_navbar";
@import "./_footer";
@import "./_services";

.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    padding: 1em 3em 0 3em;

    .sticky{
        position: sticky;
    }
}

.content{
    margin-left: 240px;
    position: relative;
}

@media only screen and (max-width: 1024px){

    .content{
        margin-left: 0;
        position: relative;
    }

    .wrapper{
        padding: 1em 2em 0 2em;
    }
}