button{
    border: 0;
    font-size: 20px;
    border-radius: 3.2rem;
    margin: 0;
    padding: 0.9rem 1.6rem 0.8rem 1.6rem;
    line-height: 1;
    background-color: black;
    color: white;
    text-transform: uppercase;

    transition: color 0.25s ease-out, background 0.25s ease-out;

    &:hover{
        background-color: white;
        color: black;
    }

    &.white{
        background-color: white;
        color: black;

        &:hover{
            background-color: black;
            color: white;
        }
    }

    &.simple-button{
        padding: 0;
        background-color: transparent;
        font-family: "franklin-gothic-urw", 'Franklin Gothic', Arial, sans-serif;
        color: inherit;
        margin: inherit;
        font-size: inherit;
    }
}