body{
  font-size: 24px;
  line-height: 1;
  font-family: 'StabilGrotesk';
}

h1, h2, h3, h4{
  line-height: 1.2;
  margin: 0;
  font-weight: 300;
}

h3{
  font-size: 36px;
}

h1, h2{
  font-size: 64px;
  
  &.white{
    color: white
  }
  // text-transform: uppercase;
  // text-align: center;
}


@media only screen and (max-width: 1024px){
  body{
    font-size: 3vw;
  }
  h4{
    font-size: 4vw;
  }
  h3{
    font-size: 5vw;
  }
  
  h1, h2{
    font-size: 7vw
  }
}

@media only screen and (max-width: 600px){
  
}

